* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}

/*shared style*/
.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.primary {
  background: #38a169;
  color: white;
  border: none;
}

.secondary {
  background: transparent;
  border: 1px solid #333;
}
.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-green {
    color: #30B868;
}

.color-white {
    color: #FFFFFF;
}

.btn{
   background-color: #30B868;
   border: none;
   padding: 12px 16px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 600;
   color: white;
   cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;

}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}

.text-center {
    text-align: center;
}



/* main style*/

.logo {
    padding-left: 120px;
    padding-right: auto;
}


/* header {
    background-color: #FFFFFF;
    background: url(../images/developer.png),url(../images/header_bg.png) , #FFFFFF;
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    padding-top: 50px;
} */

nav {
    /* background-color: #FFF8F3; */
    width: 96%;
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 60px;
    padding-left: 60px;


}

nav .nav-bar {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .nav-bar a{
    margin: 0px auto;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

/* nav .nav-bar .btn-align { 
    
} */

#banner {
  max-width: 1600px;
  background-color: #ffffff;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#banner .banner-container {
  max-width: 1600px;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

#banner .banner-content {
  max-width: 1360px;
  margin: 115.5px 120px 179.5px 120px ; 
  text-align: center;
  padding-top: 70px;
  padding-bottom: 134px;
  padding-left: 120px;
  padding-right: 120px;
}

#banner .banner-content .badge {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

#banner .banner-content .headline {
  font-size: 52px;
  margin-bottom: 16px;
}

#banner .banner-content .description {
  font-size: 18px;
  line-height: 24px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 32px;
  color: #FFFFFF;
}

#banner .banner-image {
  position: absolute;
  inset: 0;
  background:
  linear-gradient(
      180deg,
      rgba(6, 20, 35, 0.35),
      rgba(6, 20, 35, 0.25)
    ),
  url("./B14-A01-DevConf-2026/assets/banner.jpg") center / cover no-repeat;
  z-index: 0;
}


#Speakers .Speakers-container{

    background-color: #FFFFFF;
    width:100%;
    max-width: 1551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 44px; */
}

#Speakers .Speakers-container .Speakers-box {
    
    width: 100%;
    /* max-width: 1321px; */
    display: flex; /* গ্রিডের বদলে Flexbox */
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-wrap: wrap; জায়গা না থাকলে নিচে নামবে */
    gap: 32px; /* প্রতিটি কার্ডের মাঝখানের গ্যাপ */
    justify-content: space-between;
    padding: 80px 60px 80px 60px;
}

#Speakers .Speakers-container .Speakers-box .Speakers-card {

   /* padding: 24px; */
   /* max-width: 322px; */
   background-color: #FFFFFF;
   box-shadow: 0 0px 8px rgba(0,0,0,0.05);
   gap: 32px;
   margin-top: 56px;

   display: flex;
   flex-direction: column;
   border-radius: 8px;
   /* flex-wrap: wrap;
   justify-content: center;
   align-items: center */

}

#Speakers .Speakers-container .Speakers-box .Speakers-card img {

    margin-bottom: 16px;
    /* border-radius: 8px; */
    background-color: #F95555;
    border-radius: 8px;

}

#Speakers .Speakers-container .Speakers-box .Speakers-card h3 {
    
    font-size: 24px;
    font-weight: 600;
    line-height: auto;
    color: #001931;
    text-align: center;
    align-self: stretch;

}

#Speakers .Speakers-container .Speakers-box .Speakers-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
    align-self: stretch;

}


/* #banner {
    width: 96%;
    max-width: 1600px;
    background-color: #FFFFFF;    
}

#banner .banner-container {
   
    max-width: 1600px;
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;

}

#banner .banner-content {
    width: 85%;
    max-width: 1360px;
    margin: 115.5px , 120px , 179.5px , 120px ;    
}

#banner .banner-content #special {
   text-align: center;
}

#banner .banner-content #special h2{
   text-align: center;
   margin-left: 565.5px;
   margin-right: 565.5px;
}

#banner .banner-content #special h3 {
    margin: 51px, 295px , 76px , 295px;
    text-align: center;
}

#banner .banner-content #special {
   text-align: center;
} 

#banner .banner-content .buttons {
    text-align: center;
} */


/* #banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}

#banner .banner-content p{
    font-size: 18px;
    color:  #757575;
    line-height: 30px;
    margin-bottom: 30px;

} */



#pricing .pricing-container {
    width: 100%;
    max-width: 1551px;
    margin: 0 auto;
    text-align: center; 
    background-color: transparent;

}

#pricing .pricing-container .pricing-info {
    max-width: 1440px;
    display: flex;
    padding: 48px 60px 60px 60px;
    justify-content: center; 
    box-sizing: border-box;
    margin: 0 auto;
    gap: 24px;

}

#pricing .pricing-container .pricing-info .info-card {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    box-shadow: 0 0px 8px rgba(0,0,0,0.05);
    border-radius: 16px;
    max-width: 370px;
    width: 100%;
    padding: 32px 32px 32px 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left; 
    box-sizing: border-box;

}

#pricing .pricing-container .pricing-info .info-card ul {
    padding-left: 15px;
}

#pricing .pricing-container .pricing-info .info-card ul li {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    text-align: left;
    list-style-type: disc #2563EB;

}



#pricing .pricing-container .pricing-info .info-card:nth-child(2) {
    background-color: #0D1B2A; 
}

#pricing .pricing-container .pricing-info .info-card:nth-child(2) ul li{
    color: #FFFFFF; 
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    text-align: left;
    list-style-type: disc blue;
}


#pricing .pricing-container .pricing-info .info-card h4 {
    font-size: 20px;
    margin: 0;

}


  



#reviews

#reviews .reviews-container hr {
    margin: 30px 0;
}

#reviews .reviews-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;


}

.reviews-container .section-heading {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.education-box , .experience-box{
    max-width: 511px;
    margin-right: 47px;

}

.education-box , .experience-box , .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.education-box , .experience-box , .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.education-box , .experience-box , .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}